*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#jogo{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 50px;
}

header{
    text-align: center;
}

#left, #rigth{
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    text-align: center;
}